# Default ignored files
/../../../../:Random Projects/Cyginus/.idea/shelf/
/../../../../:Random Projects/Cyginus/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:Random Projects/Cyginus/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:Random Projects/Cyginus/.idea/dataSources/
/../../../../:Random Projects/Cyginus/.idea/dataSources.local.xml
